name: Daily Tarrant Jail Report

on:
  workflow_dispatch:
  schedule:
    - cron: "0 13 * * *" # 7:00 AM Central Standard Time (CST). During daylight time this will run at 8:00 AM.

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pdfplumber

      - name: Run report
        env:
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
        run: |
          python report.py
